html {
  background-color: darkseagreen;

}

.container-fluid{

  background-color: darkseagreen;
}

input[type="text"]{
  background-color: transparent;
  color: white;
}

input[type="text"]:focus{
  background-color: transparent;
  color: white;
}